Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

turris-maintain: fix reading of IP addresses
  utils/turris-maintain/files/lighttpd-restart.py
  utils/turris-maintain/files/network-restart.py
  utils/turris-maintain/files/reboot.py
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-maintain: update to version 12
  utils/turris-maintain/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

foris-controller-openvpn-module: update to version 0.7.0
  web/foris-controller/foris-controller-openvpn-module/Makefile
Owners: @mmtj, @fhron

foris-controller: update to version 2.1.0
  web/foris-controller/foris-controller/Makefile
Owners: @mmtj, @fhron

turris-timezone: add host depends for l18n
  utils/turris-timezone/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

reforis: add HOST_BUILD_DEPENDS for node
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek

schnapps: Update to version 2.7.0
  utils/schnapps/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

pakon: Archive database only after service has been stopped
  collect/pakon/Makefile
  collect/pakon/files/pakon-monitor-init
Owners: @mmtj

resolver-conf: merge hotplug scripts, reduce restarts
  net/knot-resolver/files/kresd.init
  net/resolver-conf/Makefile
  net/resolver-conf/files/ip-resolver-reload.hotplug
  net/resolver-conf/files/resolver-reload
  net/unbound/files/unbound-init
Owners: @vcunat, @ja-pa

omnia-support: Fix contract enforcing boot script
  hardware/omnia/omnia-support/Makefile
  hardware/omnia/omnia-support/files/contract-boot.txt
Owners: @miska

pakon: Call cleanup function faster
  collect/pakon/Makefile
  collect/pakon/patches/cleanup-faster.patch
Owners: @mmtj

nextcloud: refresh patch
  net/nextcloud/patches/0001-Replace-gzip-by-identity.patch
Owners: @miska

GitHub CI: Update OpenWrt versions
  .github/workflows/multi-arch-test-build.yml
Owners: none

pkglists: Replace 'data collection' term
  updater/pkglists/files/definitions.json
Owners: @Cynerd

reforis: add patch to rename data collection card in overview
  web/reforis/reforis/Makefile
  web/reforis/reforis/patches/0001-Rename-Data-Collection-card.patch
Owners: @aleksan4g, @MarekSasek

reforis-data-collection: update to version 0.3.2
  web/reforis/reforis-data-collection-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

reforis: rename data collection card once again
  web/reforis/reforis/Makefile
  web/reforis/reforis/patches/0001-Rename-Data-Collection-card.patch
Owners: @aleksan4g, @MarekSasek

tos3to4-notify: add package
  cznic/tos3to4-notify/README.md
  cznic/tos3to4-notify/repo/Packages
  cznic/tos3to4-notify/repo/Packages.gz
  cznic/tos3to4-notify/repo/tos3to4-notify.ipk
  cznic/tos3to4-notify/tos3to4-notify/control
  cznic/tos3to4-notify/tos3to4-notify/postinst
Owners: none

foris-controller: update to version 2.1.1
  web/foris-controller/foris-controller/Makefile
Owners: @mmtj, @fhron

schnapps: Update to version 2.7.1
  utils/schnapps/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

userlists: change 3xmigrate title to not contain experimental
  cznic/tos3to4-notify/repo/Packages
  cznic/tos3to4-notify/repo/Packages.gz
  cznic/tos3to4-notify/repo/userlists.ipk
  cznic/tos3to4-notify/userlists/control
  cznic/tos3to4-notify/userlists/data/usr/share/updater/definitions.json
  cznic/tos3to4-notify/userlists/postinst
  cznic/tos3to4-notify/userlists/postinst-pkg
  cznic/tos3to4-notify/userlists/prerm
Owners: @Cynerd

tos3to4-notify: remove EXPERIMENTAL from notification as well
  cznic/tos3to4-notify/repo/Packages
  cznic/tos3to4-notify/repo/Packages.gz
  cznic/tos3to4-notify/repo/tos3to4-notify.ipk
  cznic/tos3to4-notify/repo/userlists.ipk
  cznic/tos3to4-notify/tos3to4-notify/control
  cznic/tos3to4-notify/tos3to4-notify/postinst
  cznic/tos3to4-notify/userlists/control
Owners: none

turris-webapps-netdata: redirect /netdata to /netdata/
  web/turris-webapps/turris-webapps-netdata/Makefile
  web/turris-webapps/turris-webapps-netdata/files/netdata.lighttpd
Owners: @aleksan4g

foris-controller-storage-module: update to version 0.9.0
  web/foris-controller/foris-controller-storage-module/Makefile
Owners: @mmtj, @fhron

turris-webapps: Update to version 3.7
  web/turris-webapps/turris-webapps/Makefile
Owners: @aleksan4g

python-websockets: update to version 9.1
  lang/python-websockets/Makefile
Owners: @BKPepe, @ja-pa

Revert "Revert "lighttpd: start Foris and reForis FastCGI backends on demand""
  web/reforis/reforis/Makefile
  web/reforis/reforis/files/reforis-lighttpd-dynamic.sh
  web/reforis/reforis/patches/0001-Don-t-set-socket-when-starting-WSGIServer.patch
Owners: @aleksan4g, @MarekSasek

foris-controller-storage-module: update to version 0.10.0.
  web/foris-controller/foris-controller-storage-module/Makefile
Owners: @mmtj, @fhron

base64c: update PKG_HASH
  libs/base64c/Makefile
Owners: @BKPepe, @ja-pa

sentinel-minipot: update to version 2.2
  collect/sentinel/sentinel-minipot/Makefile
Owners: @Cynerd, @VojtechMyslivec, @mprudek

sentinel-minipot: remove backported patch
  collect/sentinel/sentinel-minipot/patches/001-http-fix-content-length-parsing.patch
Owners: @Cynerd, @VojtechMyslivec, @mprudek

initial-config: fix invalid foris password
  updater/initial-config/Makefile
  updater/initial-config/files/initial-config
Owners: @Cynerd

updater-ng: backport two patches
  updater/updater-ng/Makefile
  updater/updater-ng/patches/0001-Add-FilesSignature-support.patch
  updater/updater-ng/patches/0002-lib-subprocess-use-SIGCHLD-to-detect-child-terminati.patch
Owners: @Cynerd

base64c: update PKG_HASH
  libs/base64c/Makefile
Owners: @BKPepe, @ja-pa

updater-ng: backport two patches
  updater/updater-ng/Makefile
  updater/updater-ng/patches/0001-Add-FilesSignature-support.patch
  updater/updater-ng/patches/0002-lib-subprocess-use-SIGCHLD-to-detect-child-terminati.patch
Owners: @Cynerd

Revert "Revert "lighttpd: start Foris and reForis FastCGI backends on demand""
  web/foris/foris/Makefile
  web/foris/foris/files/lighttpd-dynamic-conf
Owners: @mmtj

turris-maintain: split off turris-backup and rewrite
  utils/turris-maintain/Makefile
  utils/turris-maintain/files/README.md
  utils/turris-maintain/files/backups.conf
  utils/turris-maintain/files/backups.uci
  utils/turris-maintain/files/config-backup.sh
  utils/turris-maintain/files/config-restore.sh
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-webapps-*: refactor dependencies
  web/turris-webapps/turris-webapps-luci/Makefile
  web/turris-webapps/turris-webapps-netdata/Makefile
  web/turris-webapps/turris-webapps-netdata/files/netdata.lighttpd
  web/turris-webapps/turris-webapps-transmission/Makefile
  web/turris-webapps/turris-webapps-transmission/files/transmission.lighttpd
  web/turris-webapps/turris-webapps-tvheadend/Makefile
  web/turris-webapps/turris-webapps-tvheadend/files/tvheadend.lighttpd
  web/turris-webapps/turris-webapps/Makefile
Owners: @aleksan4g

turris-btrfs: Fix U-Boot environment
  utils/turris-btrfs/files/btrfs_migrate.sh
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-btrfs: Implement hack for migration to TOS 5.X
  utils/turris-btrfs/Makefile
  utils/turris-btrfs/files/btrfs_migrate.sh
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g
