Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g

nextcloud: update to version 20.0.4
  net/nextcloud/Makefile
Owners: @miska

foris-controller-sentinel-module: update to version 0.2
  web/foris-controller/foris-controller-sentinel-module/Makefile
Owners: @mmtj, @fhron

foris-controller-sentinel-module: remove backported patch
  web/foris-controller/foris-controller-sentinel-module/patches/0001-Fix-reload-having-no-effect.patch
Owners: @mmtj, @fhron

unbound: add wan_ipv6 check
  net/unbound/files/unbound-init
Owners: @ja-pa

knot-resolver: add wan_ipv6 to init script
  net/knot-resolver/files/kresd.init
Owners: @vcunat, @ja-pa

resolver-conf: add wan_ipv6 check
  net/resolver-conf/files/resolver-func.sh
Owners: @ja-pa

Revert "knot-resolver: add wan_ipv6 to init script"
  net/knot-resolver/files/kresd.init
Owners: @vcunat, @ja-pa

Revert "resolver-conf: add wan_ipv6 check"
  net/resolver-conf/files/resolver-func.sh
Owners: @ja-pa

Revert "unbound: add wan_ipv6 check"
  net/unbound/files/unbound-init
Owners: @ja-pa

unbound: fix IPv4/IPv6 outgoing interface handling
  net/unbound/files/unbound-init
Owners: @ja-pa

unbound: bump PKG_RELEASE
  net/unbound/Makefile
Owners: @ja-pa

lighttpd-https-cert: Restrict TLS to strong cipher suites
  net/lighttpd-https-cert/files/ssl-enable.conf
Owners: @miska

lighttpd-https-cert: Fix typo in uci-defaults file name
  net/lighttpd-https-cert/Makefile
Owners: @miska

lighttpd-https-cert: Bump to version 6.0
  net/lighttpd-https-cert/Makefile
Owners: @miska

WIP
  web/foris-controller/foris-controller-storage-module/Makefile
Owners: @mmtj, @fhron

switch-branch: prevent downgrades
  updater/switch-branch/Makefile
  updater/switch-branch/files/switch-branch
Owners: @Cynerd

foris-data_collect-plugin: patch version of required packages
  cznic/foris/foris-data_collect-plugin/Makefile
  cznic/foris/foris-data_collect-plugin/patches/001-fix-setup-version.patch
Owners: none

updater-ng: update to version 69.0.1
  updater/updater-ng/Makefile
Owners: @Cynerd

sentinel-dynfw-client: fix race condition causing error and missing rule
  collect/sentinel/sentinel-dynfw-client/Makefile
  collect/sentinel/sentinel-dynfw-client/files/sentinel-firewall.sh
Owners: @Cynerd, @VojtechMyslivec, @mprudek

python-ubus: patch setup.py setup_requires
  lang/python-ubus/Makefile
  lang/python-ubus/patches/001-fix-setup-req.patch
Owners: @BKPepe, @ja-pa

foris-schema: patch setup.py setup_requires
  cznic/foris/foris-schema/Makefile
  cznic/foris/foris-schema/patches/001-fix-setup-requires.patch
Owners: none

foris-client: patch setup.py setup_requires
  cznic/foris/foris-client/Makefile
  cznic/foris/foris-client/patches/001-fix-setup-requires.patch
Owners: none

foris-diagnostics-plugin: patch setup.py setup_requirements
  cznic/foris/foris-diagnostics-plugin/Makefile
  cznic/foris/foris-diagnostics-plugin/patches/001-fix-setup.patch
Owners: none

foris-diagnostics-plugin: change patch
  cznic/foris/foris-diagnostics-plugin/patches/001-fix-setup.patch
Owners: none

foris-controller-storage: package scripts for /srv feature
  web/foris-controller/foris-controller-storage-module/Makefile
Owners: @mmtj, @fhron

reforis: bump to version 1.0.5
  web/reforis/reforis/Makefile
  web/reforis/reforis/patches/001-reforis-dont-use-specific-version-of-paho-mqtt.patch
Owners: @aleksan4g, @MarekSasek

msgpack-c: remove this from our repository as it was added to OpenWrt 19.07
  libs/msgpack-c/Makefile
Owners: @BKPepe, @ja-pa

uriparser: update to version 0.9.5
  libs/uriparser/Makefile
  libs/uriparser/patches/0001-pkg-config-improve-template-to-be-more-generic.patch
Owners: @BKPepe, @ja-pa

uthash: update to version 2.3.0
  libs/uthash/Makefile
Owners: @BKPepe, @ja-pa

libhtp: update to version 0.5.37
  libs/libhtp/Makefile
Owners: @BKPepe, @ja-pa

foris-diagnostics-plugin: fix dependency
  cznic/foris/foris-diagnostics-plugin/Makefile
  cznic/foris/foris-diagnostics-plugin/patches/001-fix-setup.patch
Owners: none

foris-netmetr-plugin: patch setup.py
  cznic/foris/foris-netmetr-plugin/Makefile
  cznic/foris/foris-netmetr-plugin/patches/001-fix-setup.patch
Owners: none

foris-openvpn-plugin: fix setup.py
  cznic/foris/foris-openvpn-plugin/Makefile
  cznic/foris/foris-openvpn-plugin/patches/001-fix-setup.patch
Owners: none

foris-ssbackups-plugin: fix setup.py
  cznic/foris/foris-ssbackups-plugin/Makefile
  cznic/foris/foris-ssbackups-plugin/patches/001-fix-setup.patch
Owners: none

foris-storage-plugin: fix setup.py
  cznic/foris/foris-storage-plugin/Makefile
  cznic/foris/foris-storage-plugin/patches/001-fix-setup.patch
Owners: none

foris-data_collect-plugin: fix setup.py
  cznic/foris/foris-data_collect-plugin/Makefile
  cznic/foris/foris-data_collect-plugin/patches/001-fix-setup-version.patch
Owners: none

foris-pakon-plugin: fix setup.py
  cznic/foris/foris-pakon-plugin/Makefile
  cznic/foris/foris-pakon-plugin/patches/001-fix-setup.patch
Owners: none

foris-plugins-distutils: fix build dependecies
  cznic/foris/foris-plugins-distutils/Makefile
Owners: none

python-libsass: fix build dependency
  lang/python-libsass/Makefile
Owners: @BKPepe, @ja-pa

python3-six: add host package
  lang/python3-six/Makefile
Owners: @BKPepe, @ja-pa
