Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g

pkglists: bump version
  updater/pkglists/Makefile
Owners: @Cynerd

turris-translations: update to version 1.5.0
  web/turris-translations/Makefile
Owners: none

turris-translations: update to version 1.5.0
  web/turris-translations/Makefile
Owners: none

turris-timezone: temporary fix for l18n
  utils/turris-timezone/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-diagnostics: update to version 15.0.0
  utils/turris-diagnostics/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-auth: add new package
  web/turris-auth/Makefile
  web/turris-auth/files/lighttpd.conf
Owners: none

reforis: add turris-auth login
  web/reforis/reforis/Makefile
  web/reforis/reforis/files/reforis-lighttpd-dynamic.sh
Owners: @aleksan4g, @MarekSasek

pakon: protect with turris-auth login gateway
  collect/pakon/Makefile
  collect/pakon/files/lighttpd-pakon.conf
Owners: @mmtj

turris-webapps-netdata: protect with turris-auth login gateway
  web/turris-webapps/turris-webapps-netdata/Makefile
  web/turris-webapps/turris-webapps-netdata/files/netdata.lighttpd
Owners: @aleksan4g

Github Actions: use as fallback packages - vim netmetr unbound
  .github/workflows/multi-arch-test-build.yml
Owners: none

Github Actions: use as fallback packages - vim netmetr unbound
  .github/workflows/multi-arch-test-build.yml
Owners: none

Apply 1 suggestion(s) to 1 file(s)
  utils/turris-diagnostics/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-diagnostics: update to version 15.0.0
  utils/turris-diagnostics/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

foris-controller: backport patch to read a new configuration
  web/foris-controller/foris-controller/Makefile
  web/foris-controller/foris-controller/patches/010-network-read-new-configuration.patch
Owners: @mmtj, @fhron

updater-ng: detect and export container
  updater/updater-ng/Makefile
  updater/updater-ng/files/turris.lua
Owners: @Cynerd

libatsha204: libatsha204-emlul is not compatible with libatsha204
  hardware/atsha204/libatsha204/Makefile
Owners: @miska

fixup! Apply 3 suggestion(s) to 1 file(s)
  net/morce/Makefile
Owners: @BKPepe

reforis: add HOST_PYTHON3_PACKAGE_BUILD_DEPENDS
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek

treewide: use new extra_command function
  net/atlas-sw-probe/Makefile
  net/atlas-sw-probe/files/atlas.init
  net/knot-resolver/Makefile
  net/knot-resolver/files/kresd.init
  net/suricata-pakon/Makefile
  net/suricata-pakon/files/suricata.init
Owners: @BKPepe, @vcunat, @ja-pa

rescue-image: fix path of gen_initramfs_list as it was moved
  hardware/rescue-image/Makefile
Owners: @miska

rescue-image: fix compilation
  hardware/rescue-image/Makefile
Owners: @miska

ruby-breakpoint: remove this package
  lang/ruby-breakpoint/Makefile
Owners: @BKPepe, @ja-pa

treewide: remove Foris
  web/foris/foris-diagnostics-plugin/Makefile
  web/foris/foris-netmetr-plugin/Makefile
  web/foris/foris-openvpn-plugin/Makefile
  web/foris/foris-pakon-plugin/Makefile
  web/foris/foris-plugins-distutils/Makefile
  web/foris/foris-storage-plugin/Makefile
  web/foris/foris-subordinates-plugin/Makefile
  web/foris/foris/Makefile
  web/foris/foris/files/00_foris.conf
  web/foris/foris/files/foris-config-cgi
  web/foris/foris/files/foris-config.lighttpd-conf
  web/foris/foris/files/foris-plugin.mk
  web/foris/foris/files/foris-root.lighttpd-conf
  web/foris/foris/files/foris-translations.mk
  web/foris/foris/files/foris.jpg
  web/foris/foris/files/foris.wrapper
  web/foris/foris/files/lighttpd-dynamic-conf
  web/foris/foris/files/turris.svg
Owners: @mmtj

turris-netboot: fix location of gen_initramfs_list.sh
  utils/turris-netboot/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

tvheadend: update to the latest git version from 2021-10-21
  multimedia/tvheadend/Makefile
  multimedia/tvheadend/patches/0001-Fix-compilation-for-OpenWrt.patch
  multimedia/tvheadend/patches/0001-Load-OpenSSL-engines.patch
  multimedia/tvheadend/patches/0002-main-Fix-OpenSSL-1.1-compilation-without-deprecated-.patch
  multimedia/tvheadend/patches/dvr_init.patch
Owners: @BKPepe, @ja-pa

libsass: remove it
  libs/libsass/Makefile
Owners: @BKPepe, @ja-pa

python-ubus: update to version 0.1.2
  lang/python-ubus/Makefile
Owners: @BKPepe, @ja-pa

python3-python: remove it
  lang/python3-python/Makefile
Owners: @BKPepe, @ja-pa

foris-controller: add patch to move ubus socket path
  web/foris-controller/foris-controller/Makefile
  web/foris-controller/foris-controller/patches/0001-treewide-change-ubus-socket-path.patch
Owners: @mmtj, @fhron

foris-ws: update to version 1.6.2
  web/foris-controller/foris-ws/Makefile
Owners: @mmtj, @fhron

suricata-bin: add dependency for libcap-ng
  net/suricata-bin/Makefile
Owners: @BKPepe

python-websockets: remove this package from repository
  lang/python-websockets/Makefile
Owners: @BKPepe, @ja-pa

reforis: add patch to move ubus socket patch
  web/reforis/reforis/Makefile
  web/reforis/reforis/patches/0001-Move-ubus-socket-path.patch
Owners: @aleksan4g, @MarekSasek

tvheadend: remove patch for hdhomerun which was for 4.2.8 release
  multimedia/tvheadend/patches/0003-Makefile.hdhomerun-update-library-to-version-2018081.patch
Owners: @BKPepe, @ja-pa

reforis-distutils: remove it
  web/reforis/reforis-distutils/Makefile
Owners: @aleksan4g, @MarekSasek

foris-controller: backport patch to read a new configuration
  web/foris-controller/foris-controller/Makefile
  web/foris-controller/foris-controller/patches/010-network-read-new-configuration.patch
Owners: @mmtj, @fhron

resolver-conf: one small tweak for Python3.9
  net/resolver-conf/Makefile
  net/resolver-conf/files/dhcp_host_domain_ng.py
Owners: @ja-pa

Revert "turris-timezone: temporary fix for l18n"
  utils/turris-timezone/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

treewide: reforis-plugins: move reforis-distutils to HOST_PYTHON3_PACKAGE_BUILD_DEPENDS
  web/reforis/reforis-data-collection-plugin/Makefile
  web/reforis/reforis-diagnostics-plugin/Makefile
  web/reforis/reforis-haas-plugin/Makefile
  web/reforis/reforis-netboot-plugin/Makefile
  web/reforis/reforis-netmetr-plugin/Makefile
  web/reforis/reforis-openvpn-plugin/Makefile
  web/reforis/reforis-remote-access-plugin/Makefile
  web/reforis/reforis-remote-devices-plugin/Makefile
  web/reforis/reforis-remote-wifi-settings-plugin/Makefile
  web/reforis/reforis-snapshots-plugin/Makefile
  web/reforis/reforis-storage-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

foris-client: bump to version 1.0.4
  web/foris-controller/foris-client/Makefile
Owners: @mmtj, @fhron
