Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g

sentinel-nikola: remove
  collect/sentinel/sentinel-nikola/Makefile
  collect/sentinel/sentinel-nikola/files/restart-proxy-hook.sh
  collect/sentinel/sentinel-nikola/files/sentinel-firewall.sh
  collect/sentinel/sentinel-nikola/files/uci-defaults
Owners: @Cynerd, @VojtechMyslivec, @mprudek

sentinel: add sentinel-status and integrations with it
  collect/sentinel/sentinel-fwlogs/Makefile
  collect/sentinel/sentinel-fwlogs/files/sentinel-status.sh
  collect/sentinel/sentinel-minipot/Makefile
  collect/sentinel/sentinel-minipot/files/sentinel-status.sh
  collect/sentinel/sentinel-proxy/Makefile
  collect/sentinel/sentinel-proxy/files/sentinel-status.sh
  collect/sentinel/sentinel-proxy/files/status.d/00-proxy.sh
  collect/sentinel/sentinel-proxy/files/status.d/common.sh
  collect/sentinel/turris-survey/Makefile
  collect/sentinel/turris-survey/files/sentinel-status.sh
Owners: @Cynerd, @VojtechMyslivec, @mprudek

fix: migration from nikola to fwlogs
  updater/fix/Makefile
  updater/fix/files/nor-update
  updater/fix/files/sentinel-nikola-to-fwlogs
Owners: @Cynerd

pkglists: rename datacollect list's option nikola to fwlogs
  updater/fix/Makefile
  updater/fix/files/pkglists-nikola-to-fwlogs
  updater/pkglists/Makefile
  updater/pkglists/files/definitions.json
Owners: @Cynerd

turris-survey: version 0.2
  collect/sentinel/turris-survey/Makefile
Owners: @Cynerd, @VojtechMyslivec, @mprudek

sentinel-proxy: fix indentation in install define
  collect/sentinel/sentinel-proxy/Makefile
Owners: @Cynerd, @VojtechMyslivec, @mprudek

morce: New package MORCE
  net/morce/Makefile
Owners: @BKPepe

sentinel-proxy: update to version 1.4
  collect/sentinel/sentinel-proxy/Makefile
Owners: @Cynerd, @VojtechMyslivec, @mprudek

foris-controller: update to version 2.0.1
  web/foris-controller/foris-controller/Makefile
Owners: @mmtj, @fhron

reforis: update to version v1.1.0
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek

reforis-data-collection: update to version v0.3.0
  web/reforis/reforis-data-collection-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

foris-controller-sentinel-module: update to version 0.3.0
  web/foris-controller/foris-controller-sentinel-module/Makefile
Owners: @mmtj, @fhron

mariadb: update to version 10.4.20 (security fix)
  utils/mariadb/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

cython: update to version 0.29.23
  lang/cython/Makefile
Owners: @BKPepe, @ja-pa

cronie: update to version 1.5.7
  admin/cronie/Makefile
Owners: none

schnapps: Update to version 2.6.4
  utils/schnapps/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

foris-controller: update to version 2.0.2
  web/foris-controller/foris-controller/Makefile
Owners: @mmtj, @fhron

reforis-data-collection-plugin: update to version 0.3.1
  web/reforis/reforis-data-collection-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

Apply 1 suggestion(s) to 1 file(s)
  net/morce/Makefile
Owners: @BKPepe

fixup! morce: New package MORCE
  net/morce/Makefile
Owners: @BKPepe

reforis: update to version 1.1.1
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek

python-ubus: update to version 0.1.2
  lang/python-ubus/Makefile
Owners: @BKPepe, @ja-pa

foris-ws: update to version 1.6.2
  web/foris-controller/foris-ws/Makefile
Owners: @mmtj, @fhron

foris-client: bump to version 1.0.4
  web/foris-controller/foris-client/Makefile
Owners: @mmtj, @fhron

reforis: add patch to move ubus socket patch
  web/reforis/reforis/Makefile
  web/reforis/reforis/patches/0001-Move-ubus-socket-path.patch
Owners: @aleksan4g, @MarekSasek

foris-controller: add patch to move ubus socket path
  web/foris-controller/foris-controller/Makefile
  web/foris-controller/foris-controller/patches/0001-treewide-change-ubus-socket-path.patch
Owners: @mmtj, @fhron

resolver-conf: one small tweak for Python3.9
  net/resolver-conf/Makefile
  net/resolver-conf/files/dhcp_host_domain_ng.py
Owners: @ja-pa

turris1x-btrfs: Make it work and work with USB
  hardware/turris1x/turris1x-btrfs/Makefile
  hardware/turris1x/turris1x-btrfs/files/btrfs_migrate.sh
  hardware/turris1x/turris1x-btrfs/files/kernel-install
Owners: @miska

turris-maintain: remove options to set message bus
  utils/turris-maintain/files/lighttpd-restart.py
  utils/turris-maintain/files/network-restart.py
  utils/turris-maintain/files/reboot.py
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-maintain: fix reading of IP addresses
  utils/turris-maintain/files/network-restart.py
  utils/turris-maintain/files/reboot.py
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

wip: turris-maintain: update to version 12
  utils/turris-maintain/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

reforis-remote-access: update to version v1.3.0
  web/reforis/reforis-remote-access-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

fixup! turris-maintain: fix reading of IP addresses
  utils/turris-maintain/files/lighttpd-restart.py
  utils/turris-maintain/files/network-restart.py
  utils/turris-maintain/files/reboot.py
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

knot-resolver: update to version 5.4.0
  net/knot-resolver/Makefile
Owners: @vcunat, @ja-pa

reforis-remote-devices: update to version 1.4.1
  web/reforis/reforis-remote-devices-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

Apply 3 suggestion(s) to 1 file(s)
  net/morce/Makefile
Owners: @BKPepe

foris-controller-openvpn-module: update to version 0.7.0
  web/foris-controller/foris-controller-openvpn-module/Makefile
Owners: @mmtj, @fhron

fixup! foris-controller-openvpn-module: update to version 0.7.0
  web/foris-controller/foris-controller-openvpn-module/Makefile
Owners: @mmtj, @fhron

turrishw: update to version 0.5.1
  libs/turrishw/Makefile
Owners: @BKPepe, @ja-pa

turris-maintain: remove options to set message bus
  utils/turris-maintain/files/lighttpd-restart.py
  utils/turris-maintain/files/network-restart.py
  utils/turris-maintain/files/reboot.py
Owners: @miska, @ja-pa, @Cynerd, @BKPepe
