Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

fix: ignore if we have dhparam.pem file already
  updater/fix/files/dhparam-to-cagen
Owners: @Cynerd

tos3to4: add explicit dependencies to early package
  updater/tos3to4/Makefile
Owners: @Cynerd

sentinel-proxy: update to version 1.3.1
  collect/sentinel/sentinel-proxy/Makefile
Owners: @Cynerd, @VojtechMyslivec, @mprudek

unbound: fix IPv4/IPv6 outgoing interface handling
  net/unbound/Makefile
  net/unbound/files/unbound-init
Owners: @ja-pa

tos3to4: do not depend on localrepo
  updater/tos3to4/Makefile
Owners: @Cynerd

logc: update to version 0.2.1
  libs/logc/Makefile
Owners: @BKPepe, @ja-pa

foris-controller-openvpn-module: update to version 0.6.4
  web/foris-controller/foris-controller-openvpn-module/Makefile
Owners: @mmtj, @fhron

updater-ng: update to version 69.1.2
  updater/updater-ng/Makefile
Owners: @Cynerd

foris-controller-haas-module: update to version 0.1.1
  web/foris-controller/foris-controller-haas-module/Makefile
Owners: @mmtj, @fhron

suricata-bin: add dependency for libcap-ng
  net/suricata-bin/Makefile
Owners: @BKPepe

pkglists: fix moved link for Data Collection in documentation
  updater/pkglists/files/definitions.json
Owners: @Cynerd

pkglists: add URLs for netdata, DynFW, HaaS, printserver and statistics
  updater/pkglists/files/definitions.json
Owners: @Cynerd

pkglists: use link for RIPE Atlas SW Probe to our official documentation
  updater/pkglists/files/definitions.json
Owners: @Cynerd

base64c: update to version 0.2.1
  libs/base64c/Makefile
Owners: @BKPepe, @ja-pa

pkglists: bump version due to recent changes
  updater/pkglists/Makefile
Owners: @Cynerd

luajit: refresh patch
  lang/luajit/patches/010-lua-path.patch
Owners: @BKPepe, @ja-pa

tvheadend: update to the latest git version from 2021-05-31
  multimedia/tvheadend/Makefile
  multimedia/tvheadend/patches/0001-Fix-compilation-for-OpenWrt.patch
  multimedia/tvheadend/patches/0001-Load-OpenSSL-engines.patch
  multimedia/tvheadend/patches/0002-main-Fix-OpenSSL-1.1-compilation-without-deprecated-.patch
  multimedia/tvheadend/patches/dvr_init.patch
Owners: @BKPepe, @ja-pa

updater-ng: fix PKG_MIRROR_HASH
  updater/updater-ng/Makefile
Owners: @Cynerd

turris-diagnostics: version 14.0.0
  utils/turris-diagnostics/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-defaults: set hostname to 'turris'
  turris-defaults/Makefile
  turris-defaults/files/board.sh
Owners: none

turrishw: update to version 0.5.0
  libs/turrishw/Makefile
Owners: @BKPepe, @ja-pa

schnapps: prevent execution on non-btrfs filesystems
  utils/schnapps/Makefile
  utils/schnapps/files/updater_postupdate.sh
  utils/schnapps/files/updater_preupdate.sh
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

cznic/cznic-cacert-bundle: Remove obsolete get-api-crl
  cznic/cznic-cacert-bundle/Makefile
  cznic/cznic-cacert-bundle/files/get-crl.cron
Owners: none

turris-defaults: fix typo in uci-defaults script
  turris-defaults/Makefile
  turris-defaults/files/uci-defaults.sh
Owners: none

reforis-haas-plugin: update to version 0.1.3
  web/reforis/reforis-haas-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

reforis-openvpn-plugin: update to version 1.5.0
  web/reforis/reforis-openvpn-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

turris-defaults: fix typo in Makefile
  turris-defaults/Makefile
Owners: none

start-indicator: disable restart of service
  hardware/start-indicator/Makefile
  hardware/start-indicator/files/start-indicator.init
Owners: @miska

updater-ng: fix execution on out of root update of cleanup_rc_d.sh
  updater/updater-ng/Makefile
  updater/updater-ng/files/cleanup_rc_d.sh
Owners: @Cynerd

knot-resolver: fix scheduling priority
  net/knot-resolver/Makefile
  net/knot-resolver/files/kresd.init
Owners: @vcunat, @ja-pa

unbound: fix scheduling priority
  net/unbound/Makefile
  net/unbound/files/unbound-init
Owners: @ja-pa

updater-ng: version 69.1.3
  updater/updater-ng/Makefile
Owners: @Cynerd

nextcloud: fix to show Nextcloud Apps
  net/nextcloud/Makefile
  net/nextcloud/patches/0001-Replace-gzip-by-identity.patch
Owners: @miska

nextcloud: add dependency on icu-full-data
  net/nextcloud/Makefile
Owners: @miska

foris-storage-plugin: update to version 3.0.1
  web/foris/foris-storage-plugin/Makefile
Owners: @mmtj

nextcloud: rebase patch for version 20 and onwards
  net/nextcloud/patches/0001-Replace-gzip-by-identity.patch
Owners: @miska

turris-netboot: Fix incorrect usage of DT node addresses
  utils/turris-netboot/Makefile
  utils/turris-netboot/files/mox.its
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

rescue-image: Fix incorrect usage of DT node addresses
  hardware/rescue-image/files/mox.its
  hardware/rescue-image/files/omnia.its
Owners: @miska

rescue-image: Indent ITS files with tabs instead of spaces
  hardware/rescue-image/files/mox.its
  hardware/rescue-image/files/omnia.its
Owners: @miska

sentinel-proxy: tweak package to use install
  collect/sentinel/sentinel-proxy/Makefile
  collect/sentinel/sentinel-proxy/files/sentinel.sh
Owners: @Cynerd, @VojtechMyslivec, @mprudek

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g
