Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g

mox-support: remove SDIO firmware from this package
  hardware/mox/mox-support/Makefile
  hardware/mox/mox-support/files/sdsd8997_combo_v4.bin
Owners: @miska

turris1x-support: turris1x.dtb is in folder dts
  hardware/turris1x/turris1x-support/Makefile
Owners: @miska

nextcloud: remove php7-mod-hash
  net/nextcloud/Makefile
Owners: @miska

ffmpeg: remove
  multimedia/ffmpeg/Config.in
  multimedia/ffmpeg/Makefile
Owners: @BKPepe, @ja-pa

fosquitto: fix owner for generated passwords files
  web/foris-controller/fosquitto/Makefile
  web/foris-controller/fosquitto/files/fosquitto.init
Owners: @mmtj, @fhron

mariadb: use upstream link instead of mirrors
  utils/mariadb/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

mariadb: update to version 10.4.21
  utils/mariadb/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

tos3to4: fix pin direction for SFP detection
  updater/tos3to4/Makefile
  updater/tos3to4/files/sfp-omnia
Owners: @Cynerd

tos3to4: fix invalid VLAN assignment
  updater/tos3to4/Makefile
  updater/tos3to4/files/switch_and_vlans
Owners: @Cynerd

knot-resolver: update to version 5.4.3
  net/knot-resolver/Makefile
Owners: @vcunat, @ja-pa

tos3to4: map lan ports on Turris 1.x
  updater/tos3to4/Makefile
  updater/tos3to4/files/switch_and_vlans
Owners: @Cynerd

tos3to4: migrate unterminated vlans as well
  updater/tos3to4/Makefile
  updater/tos3to4/files/switch_and_vlans
Owners: @Cynerd

GitHub actions: drop 19.07 release and update 21.02
  .github/workflows/multi-arch-test-build.yml
Owners: none

libsass: update to version 3.6.5
  libs/libsass/Makefile
Owners: @BKPepe, @ja-pa

libpaho-mqtt-c: update to version 1.3.9
  libs/libpaho-mqtt-c/Makefile
Owners: @BKPepe, @ja-pa

unbound: update to version 1.13.2
  net/unbound/Makefile
Owners: @ja-pa

lighttpd: update to upstream 1.4.63
  net/lighttpd/Makefile
Owners: @BKPepe

lighttpd: update to upstream 1.4.62
  net/lighttpd/Makefile
  net/lighttpd/patches/020-mod-alias.patch
Owners: @BKPepe

GitHub actions: detect changes in master branch of this repository
  .github/workflows/multi-arch-test-build.yml
Owners: none

tvheadend: refresh patch
  multimedia/tvheadend/patches/0003-Makefile.hdhomerun-update-library-to-version-2018081.patch
Owners: @BKPepe, @ja-pa

knot-resolver: backport patch from upstream to fix rare case
  net/knot-resolver/Makefile
  net/knot-resolver/patches/040-iterate-fix-bad-zone.patch
Owners: @vcunat, @ja-pa

cython: update to version 0.29.24
  lang/cython/Makefile
Owners: @BKPepe, @ja-pa

python-prctl: update to version 1.8.1
  lang/python-prctl/Makefile
  lang/python-prctl/patches/001-skip-checks.patch
Owners: @BKPepe, @ja-pa

pyzmq: update to version 22.3.0
  lang/pyzmq/Makefile
  lang/pyzmq/patches/0001-setup.py-use-darwin-hack-for-all-platforms.patch
Owners: @BKPepe, @ja-pa

foris-ws: switch authentication to turris-auth
  web/foris-controller/foris-ws/Makefile
  web/foris-controller/foris-ws/files/foris-ws.init
  web/foris-controller/foris-ws/files/lighttpd-foris-ws.conf
Owners: @mmtj, @fhron

foris-controller-openpvn-module: update version to 0.8.0
  web/foris-controller/foris-controller-openvpn-module/Makefile
Owners: @mmtj, @fhron

unbound: update to version 1.14.0
  net/unbound/Makefile
Owners: @ja-pa

reforis: update to version 1.1.3
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek

reforis: update to version 1.1.4
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek

mox-support: Fix various cases in first setup
  hardware/mox/mox-support/files/mox_autosetup
Owners: @miska

mox-support: Minor polishing of autosetup
  hardware/mox/mox-support/files/mox_autosetup
Owners: @miska

mox-support: Drop WAN bridging
  hardware/mox/mox-support/files/mox_autosetup
Owners: @miska

schnapps: Various fixes mainly to remote storages
  utils/schnapps/Makefile
  utils/schnapps/patches/0001-Allow-to-specify-vers-in-samba-mounts.patch
  utils/schnapps/patches/0002-Fix-davfs-mount.patch
  utils/schnapps/patches/0003-Support-export-filter.patch
  utils/schnapps/patches/0004-Support-export-overlay.patch
  utils/schnapps/patches/0005-Fix-sync-command.patch
  utils/schnapps/patches/0006-Few-small-fixes.patch
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

schnapps: Drop last patch that caused some issues
  utils/schnapps/Makefile
  utils/schnapps/patches/0006-Few-small-fixes.patch
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-survey: update to v0.4
  collect/sentinel/turris-survey/Makefile
Owners: @Cynerd, @VojtechMyslivec, @mprudek

reforis: update to version 1.2.0
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek

turris-btrfs-migrate: replace mkfs.vfat by mkfs.fat
  hardware/turris1x/turris1x-btrfs/Makefile
  hardware/turris1x/turris1x-btrfs/files/btrfs_migrate.sh
Owners: @miska

Drop Atlas SW probe in favor of upstream variant
  net/atlas-probe/Makefile
  net/atlas-sw-probe/Makefile
  net/atlas-sw-probe/files/atlas.conf
  net/atlas-sw-probe/files/atlas.init
Owners: @BKPepe

nextcloud: update to version 21.0.7
  net/nextcloud/Makefile
Owners: @miska

schnapps: Update to version 2.8.0
  utils/schnapps/Makefile
  utils/schnapps/patches/0001-Allow-to-specify-vers-in-samba-mounts.patch
  utils/schnapps/patches/0002-Fix-davfs-mount.patch
  utils/schnapps/patches/0003-Support-export-filter.patch
  utils/schnapps/patches/0004-Support-export-overlay.patch
  utils/schnapps/patches/0005-Fix-sync-command.patch
Owners: @miska, @ja-pa, @Cynerd, @BKPepe
