Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

initial-config: configure all wifi devices and remove set -u
  updater/initial-config/Makefile
  updater/initial-config/files/initial-config
Owners: @Cynerd

foris-schema: remove pytest-runner from setup_requires
  cznic/foris/foris-schema/Makefile
  cznic/foris/foris-schema/patches/001-fix-setup-requires.patch
Owners: none

foris-openvpn-plugin: fix build dependencies
  cznic/foris/foris-openvpn-plugin/Makefile
  cznic/foris/foris-openvpn-plugin/patches/001-fix-setup.patch
Owners: none

python3-babel: extend PKG_BUILD_DEPENDS and install section
  lang/python3-babel/Makefile
Owners: @BKPepe, @ja-pa

foris-client: remove pytest-runner from setup_requires
  cznic/foris/foris-client/Makefile
  cznic/foris/foris-client/patches/001-fix-setup-requires.patch
Owners: none

python3-six: add host package
  lang/python3-six/Makefile
Owners: @BKPepe, @ja-pa

python-ubus: remove pytest-runner from setup_requires
  lang/python-ubus/Makefile
  lang/python-ubus/patches/001-fix-setup-req.patch
Owners: @BKPepe, @ja-pa

foris-ssbackups-plugin: fix build dependencies
  cznic/foris/foris-ssbackups-plugin/Makefile
  cznic/foris/foris-ssbackups-plugin/patches/001-fix-setup.patch
Owners: none

foris-storage-plugin: fix build dependencies
  cznic/foris/foris-storage-plugin/Makefile
  cznic/foris/foris-storage-plugin/patches/001-fix-setup.patch
Owners: none

foris-plugins-distutils: add clean section
  cznic/foris/foris-plugins-distutils/Makefile
Owners: none

foris-netmetr-plugin: fix build dependencies
  cznic/foris/foris-netmetr-plugin/Makefile
  cznic/foris/foris-netmetr-plugin/patches/001-fix-setup.patch
Owners: none

initial-config: add filesystem drivers as dependencies
  updater/initial-config/Makefile
Owners: @Cynerd

initial-config: fix foris password setting
  updater/initial-config/Makefile
  updater/initial-config/files/initial-config
Owners: @Cynerd

python3: patch random seed logic
  lang/python3/Makefile
  lang/python3/patches/021-fix-random-seed-logic.patch
Owners: @BKPepe, @ja-pa

updater-ng: version 69.1.0
  updater/updater-ng/Makefile
Owners: @Cynerd

updater-ng: version 69.1.1
  updater/updater-ng/Makefile
Owners: @Cynerd

mox-support: add nor-update and mox-firmware dependencies for shield
  hardware/mox/mox-support/Makefile
Owners: @miska

pyzmq: update to version 22.0.3
  lang/pyzmq/Makefile
Owners: @BKPepe, @ja-pa

python-periphery: update to version 2.3.0
  lang/python-periphery/Makefile
Owners: @BKPepe, @ja-pa

python-libsass: update to version 0.20.1
  lang/python-libsass/Makefile
Owners: @BKPepe, @ja-pa

python-libsass: remove it from our feed
  lang/python-libsass/Makefile
Owners: @BKPepe, @ja-pa

rescue-image: fix compilation
  hardware/rescue-image/Makefile
Owners: @miska

rescue-image: fix path of gen_initramfs_list as it was moved
  hardware/rescue-image/Makefile
Owners: @miska

python-usb: remove this package
  lang/python-usb/Makefile
Owners: @BKPepe, @ja-pa

libpaho-mqtt-c: update to version 1.3.8
  libs/libpaho-mqtt-c/Makefile
Owners: @BKPepe, @ja-pa

reforis-netboot-plugin: update PKG_MIRROR_HASH
  web/reforis/reforis-netboot-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

reforis-netboot-plugin: update to version 0.4.0
  web/reforis/reforis-netboot-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

fixup! pyzmq: update to version 22.0.3
  lang/pyzmq/patches/0001-setup.py-use-darwin-hack-for-all-platforms.patch
Owners: @BKPepe, @ja-pa

reforis: add custom make argument to skip PKG_BUILD_DEPENDS
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek

turris-defaults: add package
  turris-defaults/Makefile
  turris-defaults/files/board.sh
  turris-defaults/files/defaults/ntpservers
  turris-defaults/files/uci-defaults.sh
Owners: none

resolver-debug: redirect resolver logs to /var/log/resolver
  net/resolver-debug/Makefile
  net/resolver-debug/files/logrotate/resolver.conf
  net/resolver-debug/files/resolver-debug.sh
  net/resolver-debug/files/syslog/resolver.conf
Owners: @ja-pa

fosquitto: fix owner for generated passwords files
  web/foris-controller/fosquitto/Makefile
  web/foris-controller/fosquitto/files/fosquitto.init
Owners: @mmtj, @fhron

fosquitto: fix owner for generated passwords files
  web/foris-controller/fosquitto/Makefile
  web/foris-controller/fosquitto/files/fosquitto.init
Owners: @mmtj, @fhron

turris-defaults: fix location of ntpservers in install section
  turris-defaults/Makefile
Owners: none

foris-controller-storage-module: update to version 0.8.1
  web/foris-controller/foris-controller-storage-module/Makefile
Owners: @mmtj, @fhron

web: remove option to set bus
  web/foris-controller/foris-client/Makefile
  web/foris-controller/foris-client/files/foris-client-wrapper
  web/foris-controller/foris-client/files/foris-notify-wrapper
  web/foris-controller/foris-controller/files/foris-controller.conf
  web/foris-controller/foris-controller/files/foris-controller.init
  web/foris-controller/foris-ws/Makefile
  web/foris-controller/foris-ws/files/foris-ws.init
  web/foris/foris/Makefile
  web/foris/foris/files/foris-config-cgi
  web/foris/foris/files/lighttpd-dynamic-conf
  web/reforis/reforis/Makefile
  web/reforis/reforis/files/reforis-lighttpd-dynamic.sh
Owners: @mmtj, @fhron, @aleksan4g, @MarekSasek

reforis: update to version 1.0.7
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek

reforis-netmetr-plugin: update to version 0.3.0
  web/reforis/reforis-netmetr-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

reforis-storage-plugin: update to version 0.2.2
  web/reforis/reforis-storage-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

foris-schema: update to version 0.8.0
  web/foris-controller/foris-schema/Makefile
Owners: @mmtj, @fhron

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g
