Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

mariadb: remove this package from this feed
  utils/mariadb/Makefile
  utils/mariadb/files/my.cnf
  utils/mariadb/files/mysqld.init
  utils/mariadb/patches/100-fix_hostname.patch
  utils/mariadb/patches/110-pcre.cmake.patch
  utils/mariadb/patches/140-mips-connect-unaligned.patch
  utils/mariadb/patches/160-mips-machine.patch
  utils/mariadb/patches/170-no-uint-in-pam.patch
  utils/mariadb/patches/180-c11_atomics.patch
  utils/mariadb/patches/expand-localhost.patch
  utils/mariadb/patches/no-socket-auth.patch
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

tvheadend: drop this version in favor of OpenWrt packages repository
  multimedia/tvheadend/Config.in
  multimedia/tvheadend/Makefile
  multimedia/tvheadend/files/tvheadend.config
  multimedia/tvheadend/files/tvheadend.init
  multimedia/tvheadend/patches/dvr_init.patch
Owners: @BKPepe, @ja-pa

schnapps: Workaround to fix Foris Controller compatibility
  utils/schnapps/Makefile
  utils/schnapps/patches/0001-Partial-revert-of-89952d49938aaa4ffdd0797ba347d8cc63.patch
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

mox-support: remove unused dtb file
  hardware/mox/mox-support/files/dtb
Owners: @miska

morce: add a new package
  net/morce/Makefile
Owners: @BKPepe

morce: Update to version 1.0.1
  net/morce/Makefile
Owners: @BKPepe

lighttpd: fix foris unix/unix-socket inconsistency
  web/foris/foris/files/lighttpd-dynamic-conf
Owners: @mmtj

lighttpd: ensure var.foris-$APP.flags begins w/ sp
  web/foris/foris/files/lighttpd-dynamic-conf
Owners: @mmtj

lighttpd: wrap foris config in single condition
  web/foris/foris/files/lighttpd-dynamic-conf
Owners: @mmtj

turris-diagnostics: add hwinfo dependency
  utils/turris-diagnostics/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

lighttpd: update to upstream 1.4.64
  net/lighttpd/Makefile
  net/lighttpd/patches/010-meson-lua.patch
Owners: @BKPepe

reforis: use lighttpd to serve reforis static files
  web/reforis/reforis/Makefile
  web/reforis/reforis/files/reforis-lighttpd-dynamic.sh
Owners: @aleksan4g, @MarekSasek

turris-webapps: update to version 3.7.1
  web/turris-webapps/turris-webapps/Makefile
Owners: @aleksan4g

lighttpd & turris-webapps: prepare to support upstream OpenWrt lighttpd pkg
  net/lighttpd/Makefile
  net/lighttpd/files/lighttpd.conf
  web/turris-webapps/turris-webapps/Makefile
Owners: @BKPepe, @aleksan4g

fix: add fix prefix for sentinel nikola and sentinel fwlogs
  updater/fix/Makefile
Owners: @Cynerd

fix: add fix for syncing lighttpd configuration
  updater/fix/Makefile
  updater/fix/files/lighttpd-sync-with-upstream
Owners: @Cynerd

lighttpd: use /etc/lighttpd/conf.d to use conffiles
  net/lighttpd/Makefile
Owners: @BKPepe

turris-webapps: drop lighttpd migration and move it to fix pkg
  web/turris-webapps/turris-webapps/Makefile
Owners: @aleksan4g

foris-controller-openvpn_client-module: update version 0.6.0
  web/foris-controller/foris-controller-openvpn_client-module/Makefile
Owners: @mmtj, @fhron

uriparser: update to version 0.9.6
  libs/uriparser/Makefile
Owners: @BKPepe, @ja-pa

knot-resolver: update to version 5.4.4
  net/knot-resolver/Makefile
  net/knot-resolver/patches/040-iterate-fix-bad-zone.patch
Owners: @vcunat, @ja-pa

lighttpd: backport fix for CVE-2022-22707
  net/lighttpd/Makefile
  net/lighttpd/patches/020-mod-extforward-fix-oob-writes.patch
Owners: @BKPepe

omnia-uboot: update to version 2022.01-ddr
  hardware/omnia/omnia-uboot/Makefile
  hardware/omnia/omnia-uboot/patches/010-ddr-marvell-a38x-fix-split-out-mix.patch
  hardware/omnia/omnia-uboot/patches/011-ddr-marvell-a38x-fix-synchronous-asynchronous-mode.patch
Owners: @pali, @elkablo

netmetr: Enable syslog output when autostarted
  net/netmetr/files/netmetr.cron
Owners: @BKPepe

netmetr: update to version 2.0.2
  net/netmetr/Makefile
Owners: @BKPepe

netmetr: Leave config options empty
  net/netmetr/files/netmetr.config
Owners: @BKPepe

netmetr: Use random delay from config file
  net/netmetr/files/netmetr.cron
Owners: @BKPepe

foris-controller: update to version 4.1.0
  web/foris-controller/foris-controller/Makefile
  web/foris-controller/foris-controller/patches/0001-treewide-change-ubus-socket-path.patch
  web/foris-controller/foris-controller/patches/010-network-read-new-configuration.patch
Owners: @mmtj, @fhron

omnia-uboot: remove some deprecated things
  hardware/omnia/omnia-uboot/Makefile
Owners: @pali, @elkablo

omnia-uboot: backport RFC patch to fix DDR training
  hardware/omnia/omnia-uboot/Makefile
  hardware/omnia/omnia-uboot/patches/100-u-boot-marvell-RFC-PLEASE-TEST-ddr-marvell-a38x-fix-BYTE_HOMOGENEOUS_SPLIT_OUT-decision.patch
Owners: @pali, @elkablo

nextcloud: use mariadb user instead of mysql
  net/nextcloud/Makefile
  net/nextcloud/files/easy_install.sh
Owners: @miska

rescue-image: change wget dependency to wget-ssl in ROOTFS_INSTALL
  hardware/rescue-image/Makefile
Owners: @miska

foris-forwarder: update to version 0.3.0
  web/foris-controller/foris-forwarder/Makefile
Owners: @mmtj, @fhron

fosquitto: register to umdns via procd
  web/foris-controller/fosquitto/Makefile
  web/foris-controller/fosquitto/files/fosquitto.init
Owners: @mmtj, @fhron

unbound: update to version 1.15.0
  net/unbound/Makefile
Owners: @ja-pa

omnia-uboot: backport more pending patches
  hardware/omnia/omnia-uboot/Makefile
  hardware/omnia/omnia-uboot/patches/100-ddr-marvell-a38x-fix-BYTE_HOMOGENEOUS_SPLIT_OUT-deci.patch
  hardware/omnia/omnia-uboot/patches/100-u-boot-marvell-RFC-PLEASE-TEST-ddr-marvell-a38x-fix-BYTE_HOMOGENEOUS_SPLIT_OUT-decision.patch
  hardware/omnia/omnia-uboot/patches/101-arm-mvebu-spl-Add-option-to-reset-the-board-on-DDR-t.patch
  hardware/omnia/omnia-uboot/patches/102-arm-mvebu-turris_omnia-Reset-the-board-immediately-o.patch
Owners: @pali, @elkablo

omnia-uboot: backport newer versions of patches
  hardware/omnia/omnia-uboot/Makefile
  hardware/omnia/omnia-uboot/patches/101-arm-mvebu-spl-Add-option-to-reset-the-board-on-DDR-t.patch
  hardware/omnia/omnia-uboot/patches/102-arm-mvebu-turris_omnia-Reset-the-board-immediately-o.patch
Owners: @pali, @elkablo

rescue-image: update busybox version
  hardware/rescue-image/Makefile
  hardware/rescue-image/files/busybox-config
Owners: @miska

turris-diagnostics: fix invalid ss command
  utils/turris-diagnostics/Makefile
  utils/turris-diagnostics/patches/0001-sockets-missing-cgroup.patch
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-bootstrap-theme: add common theme for Turris web applications
  web/turris-bootstrap-theme/Makefile
  web/turris-bootstrap-theme/files/lighttpd.conf
Owners: none

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g
