Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g

omnia-uboot: bump PKG_RELEASE
  hardware/omnia/omnia-uboot/Makefile
Owners: @pali, @elkablo

ouidb: fix "oui.db" file location + update database
  utils/ouidb/Makefile
  utils/ouidb/files/ouidb
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

fix: make sure that type is not left in interface
  updater/fix/files/network-devices
Owners: @Cynerd

fix: network-devices cover ifname as option
  updater/fix/files/network-devices
Owners: @Cynerd

fix: add Turris 1.x SD card read-write force on boot
  updater/fix/Makefile
  updater/fix/files/turris1x-btrfs-sdcard
Owners: @Cynerd

omnia-uboot: update to version 2022.04
  hardware/omnia/omnia-uboot/Makefile
  hardware/omnia/omnia-uboot/patches/010-ddr-marvell-a38x-fix-split-out-mix.patch
  hardware/omnia/omnia-uboot/patches/011-ddr-marvell-a38x-fix-synchronous-asynchronous-mode.patch
  hardware/omnia/omnia-uboot/patches/012-nvme-Do-not-allocate-8kB-buffer-on-stack.patch
  hardware/omnia/omnia-uboot/patches/100-ddr-marvell-a38x-fix-BYTE_HOMOGENEOUS_SPLIT_OUT-deci.patch
  hardware/omnia/omnia-uboot/patches/101-arm-mvebu-Use-printf-for-printing-fatal-errors.patch
  hardware/omnia/omnia-uboot/patches/102-arm-mvebu-spl-Add-option-to-reset-the-board-on-DDR-t.patch
  hardware/omnia/omnia-uboot/patches/103-arm-mvebu-turris_omnia-Reset-the-board-immediately-o.patch
Owners: @pali, @elkablo

turrishw: update to version 0.5.2
  libs/turrishw/Makefile
Owners: @BKPepe, @ja-pa

reforis: backport patch to fix expiration time for static leases
  web/reforis/reforis/Makefile
  web/reforis/reforis/patches/0001-Fix-time-expiration-for-static-leases-in-both-DHCP-t.patch
Owners: @aleksan4g, @MarekSasek

ffmpeg: take Config.in from openwrt/packages: openwrt-21.02
  multimedia/ffmpeg/Config.in
Owners: @BKPepe, @ja-pa

ffmpeg: update to version 4.2.6
  multimedia/ffmpeg/Makefile
Owners: @BKPepe, @ja-pa

foris-controller: update to version 2.1.3
  web/foris-controller/foris-controller/Makefile
Owners: @mmtj, @fhron

omnia-uboot: take changes from develop branch
  hardware/omnia/omnia-uboot/Makefile
Owners: @pali, @elkablo

omnia-uboot: drop explicit versioning with suffix ddr
  hardware/omnia/omnia-uboot/Makefile
Owners: @pali, @elkablo

knot-resolver: update to version 5.5.0
  net/knot-resolver/Makefile
Owners: @vcunat, @ja-pa

turrishw: update to version 0.5.3
  libs/turrishw/Makefile
Owners: @BKPepe, @ja-pa

omnia-firmware: Rebuild the rescue image
  hardware/omnia/omnia-firmware/Makefile
Owners: @miska

rescue-image: Make sure the rescue image is not empty
  hardware/rescue-image/Makefile
Owners: @miska

knot-resolver: fix init after update to 5.5.0
  net/knot-resolver/Makefile
  net/knot-resolver/files/kresd.init
Owners: @vcunat, @ja-pa

turris1x-firmware: fix TITLE
  hardware/turris1x/turris1x-firmware/Makefile
Owners: @miska

turris1x-uboot: Introduce new U-boot versions
  hardware/turris1x/turris1x-uboot/Makefile
  hardware/turris1x/turris1x-uboot/files/u-boot-nor.bin
  hardware/turris1x/turris1x-uboot/files/u-boot-sdcard.bin
Owners: @miska

Drop Atlas SW probe in favor of upstream variant
  net/atlas-probe/Makefile
  net/atlas-sw-probe/Makefile
  net/atlas-sw-probe/files/atlas.conf
  net/atlas-sw-probe/files/atlas.init
Owners: @BKPepe

knot-resolver: do not overwrite -Ddnstap=enabled configuration
  net/knot-resolver/Makefile
Owners: @vcunat, @ja-pa

knot-resolver: enable dnstap module build by default
  net/knot-resolver/Config.in
  net/knot-resolver/Makefile
Owners: @vcunat, @ja-pa

pkglists: Add morce
  updater/pkglists/Makefile
  updater/pkglists/files/definitions.json
Owners: @Cynerd

turris-translations: update to version 1.6.0
  web/turris-translations/Makefile
Owners: none

reforis-data-collection: update to version 0.4.0
  web/reforis/reforis-data-collection-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

turrishw: update to version 0.6.0
  libs/turrishw/Makefile
Owners: @BKPepe, @ja-pa

fosquitto: raise respawn_timeout
  web/foris-controller/fosquitto/Makefile
  web/foris-controller/fosquitto/files/fosquitto.init
Owners: @mmtj, @fhron

turris1x-btrfs: deploy boot.scr and link the appropriate dtb name
  hardware/turris1x/turris1x-btrfs/Makefile
  hardware/turris1x/turris1x-btrfs/files/kernel-install
Owners: @miska

turris1x-support: add boot script
  hardware/turris1x/turris1x-support/Makefile
  hardware/turris1x/turris1x-support/files/boot.txt
Owners: @miska

knot-resolver: backport patches to resolve GNOME domains and improve IPv6
  net/knot-resolver/Makefile
  net/knot-resolver/patches/020-shorter-timeout.patch
  net/knot-resolver/patches/030-fix-policy-hack.patch
  net/knot-resolver/patches/032-fix-gnome-addresses.patch
  net/knot-resolver/patches/033-ipv6.patch
Owners: @vcunat, @ja-pa

omnia-uboot: update to version 2022.07-rc4
  hardware/omnia/omnia-uboot/Makefile
Owners: @pali, @elkablo

turris1x-support: fix path for turris1x.dtb
  hardware/turris1x/turris1x-support/Makefile
Owners: @miska

unbound: update to version 1.16.0
  net/unbound/Makefile
Owners: @ja-pa

lighttpd: update to lighttpd 1.4.65 release hash
  net/lighttpd/Makefile
  net/lighttpd/patches/010-meson-lua.patch
Owners: @BKPepe

foris-controller: update to version 5.0.0
  web/foris-controller/foris-controller/Makefile
Owners: @mmtj, @fhron

reforis: update to version 1.3.0
  web/reforis/reforis/Makefile
  web/reforis/reforis/patches/0001-Move-ubus-socket-path.patch
Owners: @aleksan4g, @MarekSasek

reforis: fix PKG_SOURCE_VERSION
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek

omnia-uboot: update to version 2022.07-rc5
  hardware/omnia/omnia-uboot/Makefile
Owners: @pali, @elkablo

turrishw: update to version 0.8.0
  libs/turrishw/Makefile
Owners: @BKPepe, @ja-pa
