Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

rescue-image: Carry over more variables
  hardware/rescue-image/files/helpers.sh
Owners: @miska

rescue-image: Use only current medkit image name
  hardware/rescue-image/files/helpers.sh
Owners: @miska

rescue-image: Set explicit wget timeout
  hardware/rescue-image/files/helpers.sh
Owners: @miska

rescue-image: Update busybox and bump version
  hardware/rescue-image/Makefile
  hardware/rescue-image/files/busybox-config
Owners: @miska

rescue-image: Add haveged
  hardware/rescue-image/Makefile
  hardware/rescue-image/files/rescue.sh
Owners: @miska

resolver-conf: add new resolver-ng conf for upstream kresd/unbound
  net/resolver-conf/files/resolver-ng.conf
  net/resolver-conf/files/resolver-ng.init
Owners: @ja-pa

python-jsonschema: fix setup_requires
  lang/python-jsonschema/Makefile
  lang/python-jsonschema/patches/001-fix-setup-req.patch
Owners: @BKPepe, @ja-pa

unbound: add cache-max-negative-ttl config option
  net/unbound/Makefile
  net/unbound/files/unbound-init
Owners: @ja-pa

resolver-conf: add cache_max_negative_ttl config option
  net/resolver-conf/Makefile
  net/resolver-conf/files/resolver-omnia-config
  net/resolver-conf/files/resolver-turris-config
Owners: @ja-pa

turris-diagnostics: add global start script
  utils/turris-diagnostics/Makefile
  utils/turris-diagnostics/files/diagnostics.sh
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

sentinel-i_agree_with_eula: fix indentation in prerm
  collect/sentinel/sentinel-i_agree_with_eula/Makefile
Owners: @Cynerd, @VojtechMyslivec, @mprudek

turris-webapps-nextcloud: add dependency for foris-controller-nextcloud-module
  web/turris-webapps/turris-webapps-nextcloud/Makefile
Owners: @aleksan4g

updater-fix: Add nor-update fix
  updater/fix/Makefile
  updater/fix/files/nor-update
Owners: @Cynerd

omnia-support: Split up to multiple subpackages
  hardware/omnia/omnia-support/Makefile
Owners: @miska

resolver-conf: Use DNS server pushed by OpenVPN
  net/knot-resolver/Makefile
  net/knot-resolver/files/kresd.init
  net/resolver-conf/Makefile
  net/resolver-conf/files/openvpn.hotplug
  net/resolver-conf/files/resolver-reload
  net/unbound/Makefile
  net/unbound/files/unbound-init
Owners: @vcunat, @ja-pa

libatsha204: fix init service not marked as executable
  hardware/atsha204/libatsha204/Makefile
Owners: @miska

luajit: fix symlink to moonjit
  lang/luajit/Makefile
Owners: @BKPepe, @ja-pa

turris-cagen: add pregenerated dhparam
  utils/turris-cagen/Makefile
  utils/turris-cagen/files/cagen.sh
  utils/turris-cagen/files/dhparam.pem
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

fix: fix invalid trigger logic
  updater/fix/files/dhparam-to-cagen
Owners: @Cynerd

fix: link to pregenerated dhparam instead of generating it
  updater/fix/files/dhparam-to-cagen
Owners: @Cynerd

updater-ng: add postupdate script that cleans up /etc/rc.d
  updater/updater-ng/Makefile
  updater/updater-ng/files/cleanup_rc_d.sh
Owners: @Cynerd

unbound: bump
  net/unbound/Makefile
Owners: @ja-pa

syslog-ng: add source net section for the upcoming feature
  admin/syslog-ng3/Makefile
  admin/syslog-ng3/files/syslog-ng.conf
Owners: none

nextcloud: fix cron script
  net/nextcloud/Makefile
  net/nextcloud/files/nextcloud-cron.sh
  net/nextcloud/files/nextcloud.cron
Owners: @miska

knot-resolver: update to version 5.3.2
  net/knot-resolver/Makefile
Owners: @vcunat, @ja-pa

fix: add fix for empty nextcloud config
  updater/fix/Makefile
  updater/fix/files/nextcloud-conf
Owners: @Cynerd

treewide webapps: multiple fixes
  web/turris-webapps/turris-webapps-luci/Makefile
  web/turris-webapps/turris-webapps-luci/files/05_luci.json
  web/turris-webapps/turris-webapps-luci/files/luci.webapps
  web/turris-webapps/turris-webapps-netdata/Makefile
  web/turris-webapps/turris-webapps-netdata/files/30_netdata.json
  web/turris-webapps/turris-webapps-netdata/files/netdata.svg
  web/turris-webapps/turris-webapps-netdata/files/netdata.webapps
  web/turris-webapps/turris-webapps-nextcloud/Makefile
  web/turris-webapps/turris-webapps-nextcloud/files/30_nextcloud.json
  web/turris-webapps/turris-webapps-transmission/Makefile
  web/turris-webapps/turris-webapps-transmission/files/30_transmission.json
  web/turris-webapps/turris-webapps-tvheadend/Makefile
  web/turris-webapps/turris-webapps-tvheadend/files/30_tvheadend.json
  web/turris-webapps/turris-webapps/Makefile
Owners: @aleksan4g

Update URLs to CZ.NIC gitlab
  .gitscripts/new-mr
  README.adoc
  WORKFLOW.adoc
  collect/sentinel/sentinel-nikola/Makefile
  hardware/mox/mox-pkcs11/Makefile
  updater/switch-branch/Makefile
  updater/switch-branch/files/switch-branch
  web/reforis/reforis-netmetr-plugin/Makefile
Owners: @Cynerd, @VojtechMyslivec, @mprudek, @miska, @aleksan4g, @MarekSasek

hardware/rescue-image: include version of rescue in image
  hardware/rescue-image/Makefile
Owners: @miska

rescue-image: version should have been in rootfs
  hardware/rescue-image/Makefile
Owners: @miska

foris-controller-openvpn-module: update to version 0.7.0
  web/foris-controller/foris-controller-openvpn-module/Makefile
Owners: @mmtj, @fhron

foris-controller: update to version 1.3.0
  web/foris-controller/foris-controller/Makefile
Owners: @mmtj, @fhron

reforis: update to version 1.0.8
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek

pkglists: OpenVPN also includes a client
  updater/pkglists/Makefile
  updater/pkglists/files/definitions.json
Owners: @Cynerd

suricata-bin: Disable Python and LuaJIT
  net/suricata-bin/Makefile
Owners: @BKPepe

lua-cqueues: add new package for knot-resolver http module
  lang/lua-cqueues/Makefile
  lang/lua-cqueues/patches/100-fix-define.patch
Owners: @BKPepe, @ja-pa

fixup! lua-cqueues: add new package for knot-resolver http module
  lang/lua-cqueues/Makefile
  lang/lua-cqueues/patches/101-fix-typedef.patch
Owners: @BKPepe, @ja-pa

lua-http: add new package
  lang/lua-http/Makefile
  lang/lua-http/patches/fix_deps.patch
Owners: @BKPepe, @ja-pa

fixup! lua-http: add new package
  lang/lua-http/Makefile
Owners: @BKPepe, @ja-pa

reforis-haas-plugin: bump to version 0.1.2
  web/reforis/reforis-haas-plugin/Makefile
Owners: @aleksan4g, @MarekSasek

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g
