Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g

crypto-wrapper: update to version 0.4.1
  hardware/crypto-wrapper/Makefile
Owners: @VojtechMyslivec

luajit: drop Moonjit package
  lang/luajit/Makefile
  lang/luajit/patches/010-lua-path.patch
Owners: @BKPepe, @ja-pa

knot-resolver: update to version 5.5.1
  net/knot-resolver/Makefile
  net/knot-resolver/patches/032-fix-gnome-addresses.patch
  net/knot-resolver/patches/033-ipv6.patch
Owners: @vcunat, @ja-pa

nextcloud: update to version 21.0.9
  net/nextcloud/Makefile
Owners: @miska

switch-branch: prevent downgrades
  updater/switch-branch/Makefile
  updater/switch-branch/files/switch-branch
Owners: @Cynerd

knot-resolver: silence "No such file or directory"
  net/knot-resolver/Makefile
  net/knot-resolver/files/kresd.init
Owners: @vcunat, @ja-pa

resolver-conf: rename resolver-omnia-config to resolver-config
  net/resolver-conf/Makefile
  net/resolver-conf/files/resolver-config
Owners: @ja-pa

resolver-conf: drop resolver-turris-config with Unbound configuration
  net/resolver-conf/files/resolver-turris-config
Owners: @ja-pa

resolver-conf: ship Turris Omnia config to all routers
  net/resolver-conf/Makefile
Owners: @ja-pa

ffmpeg: update to version 4.2.7
  multimedia/ffmpeg/Makefile
Owners: @BKPepe, @ja-pa

omnia-uboot: update to version 2022.07
  hardware/omnia/omnia-uboot/Makefile
Owners: @pali, @elkablo

unbound: update to version 1.16.1
  net/unbound/Makefile
Owners: @ja-pa

treewide: rename Turris 1.x target to more accurate name
  hardware/atsha204/getmac/Makefile
  hardware/atsha204/libatsha204/Makefile
  hardware/cert-backup/Makefile
  hardware/turris1x/turris1x-btrfs/Makefile
  hardware/turris1x/turris1x-firmware/Makefile
  hardware/turris1x/turris1x-rainbow/Makefile
  hardware/turris1x/turris1x-support/Makefile
  hardware/turris1x/turris1x-uboot/Makefile
Owners: @miska

rescue-image: gen_initramfs_list.sh was renamed to gen_initramfs.sh
  hardware/rescue-image/Makefile
Owners: @miska

treewide: MOX: rename the target to more appropriate one
  hardware/mox/mox-dtb/Makefile
  hardware/mox/mox-firmware/Makefile
  hardware/mox/mox-otp/Makefile
  hardware/mox/mox-pkcs11/Makefile
  hardware/mox/mox-support/Makefile
  hardware/mox/mox-uboot/Makefile
  hardware/rescue-image/Makefile
  web/foris-controller/foris-controller/Makefile
Owners: @miska, @VojtechMyslivec, @pali, @elkablo, @mmtj, @fhron

turris-netboot: gen_initramfs_list.sh was renamed to gen_initramfs.sh
  utils/turris-netboot/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

rescue-image and turris-netboot: initrd.gz is not gzip, but cpio
  hardware/rescue-image/Makefile
  utils/turris-netboot/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

resolver-conf: Use /tmp/resolv.cond.d for openvpn
  net/resolver-conf/Makefile
  net/resolver-conf/files/openvpn.hotplug
Owners: @ja-pa

knot-resolver: Prefer files in /tmp/resolv.conf.d
  net/knot-resolver/Makefile
  net/knot-resolver/files/kresd.init
Owners: @vcunat, @ja-pa

unbound: Prefer files in /tmp/resolv.conf.d
  net/unbound/Makefile
  net/unbound/files/unbound-init
Owners: @ja-pa

reforis: drop cgi server
  web/reforis/reforis/files/reforis-lighttpd-dynamic.sh
Owners: @aleksan4g, @MarekSasek

updater-supervisor: add pending patches
  updater/updater-supervisor/patches/100-approvals-fix-typo.patch
  updater/updater-supervisor/patches/101-approvals-fix-incorrect-auto-approve.patch
Owners: @Cynerd

foris-controller: backport patch from pending pull request
  web/foris-controller/foris-controller/patches/100-updater-adjust-reboot-required.patch
Owners: @mmtj, @fhron

user-notify: add timezone to timestamp of email notifications
  utils/user-notify/Makefile
  utils/user-notify/patches/100-add-timezone-to-notifications.patch
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

user-notify: update to version 61.5.1
  utils/user-notify/Makefile
  utils/user-notify/patches/100-add-timezone-to-notifications.patch
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

updater-supervisor: update to version 1.5.3
  updater/updater-supervisor/Makefile
  updater/updater-supervisor/patches/100-approvals-fix-typo.patch
  updater/updater-supervisor/patches/101-approvals-fix-incorrect-auto-approve.patch
Owners: @Cynerd

turris1x-support: fix boot.scr location
  hardware/turris1x/turris1x-support/Makefile
Owners: @miska

reforis: Fix session handling when time is wrong
  web/reforis/reforis/patches/sessions-use-client-relative-session-expiration.patch
Owners: @aleksan4g, @MarekSasek

reforis: Fix session handling when time is wrong
  web/reforis/reforis/Makefile
  web/reforis/reforis/patches/0002-sessions-use-client-relative-session-expiration.patch
Owners: @aleksan4g, @MarekSasek

unbound: update to version 1.16.2
  net/unbound/Makefile
Owners: @ja-pa

Revert "turris1x-support: fix boot.scr location"
  hardware/turris1x/turris1x-support/Makefile
Owners: @miska

Revert "Revert "turris1x-support: fix boot.scr location""
  hardware/turris1x/turris1x-support/Makefile
Owners: @miska

reforis: update to version 1.3.1
  web/reforis/reforis/Makefile
  web/reforis/reforis/patches/sessions-use-client-relative-session-expiration.patch
Owners: @aleksan4g, @MarekSasek

turris1x-support: improve bootscript
  hardware/turris1x/turris1x-support/Makefile
  hardware/turris1x/turris1x-support/files/boot.txt
Owners: @miska

lighttpd: update to version 1.4.66
  net/lighttpd/Makefile
Owners: @BKPepe
