Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g

foris-diagnostics-plugin: add dependency for python3-six
  cznic/foris/foris-diagnostics-plugin/Makefile
Owners: none

foris-plugins-distutils: fix host build depends
  cznic/foris/foris-plugins-distutils/Makefile
Owners: none

foris-plugins-distutils: add babel dependency
  cznic/foris/foris-plugins-distutils/Makefile
Owners: none

foris-plugins-distutils: try to fix babel error
  cznic/foris/foris-plugins-distutils/Makefile
Owners: none

netmetr: Use random delay from config file
  net/netmetr/files/netmetr.cron
Owners: @BKPepe

netmetr: Leave config options empty
  net/netmetr/files/netmetr.config
Owners: @BKPepe

netmetr: Enable syslog output when autostarted
  net/netmetr/files/netmetr.cron
Owners: @BKPepe

netmetr: update to version 2.0.2
  net/netmetr/Makefile
Owners: @BKPepe

mox-firmware: Add devel version of secure firmware
  hardware/mox/mox-firmware/Makefile
  hardware/mox/mox-firmware/files/config.sh
  hardware/mox/mox-firmware/files/secure-firmware-devel.bin
Owners: @miska

mox-uboot: Update to the newer version
  hardware/mox/mox-uboot/Makefile
Owners: @pali, @elkablo

ruby-breakpoint: add PKG_BUILD_DEPENDS for ruby-dev
  lang/ruby-breakpoint/Makefile
Owners: @BKPepe, @ja-pa

foris: fix foris-plugins-distutils dependency
  cznic/foris/foris-diagnostics-plugin/Makefile
  cznic/foris/foris-netmetr-plugin/Makefile
  cznic/foris/foris-storage-plugin/Makefile
Owners: none

python3-babel: fix pkg
  lang/python3-babel/Makefile
Owners: @BKPepe, @ja-pa

foris-plugins-distutils: add test patch
  cznic/foris/foris-plugins-distutils/patches/add-print.patch
Owners: none

foris-plugins-distutils: add babel to setup requires
  cznic/foris/foris-plugins-distutils/patches/fix-setup.patch
Owners: none

foris-plugins-distutils: fix print patch
  cznic/foris/foris-plugins-distutils/patches/add-print.patch
Owners: none

foris-plugins-distutils: clean installed modules
  cznic/foris/foris-plugins-distutils/Makefile
Owners: none

python3-babel: fix staging dir
  lang/python3-babel/Makefile
Owners: @BKPepe, @ja-pa

turris-translations: update to version 1.4.1
  web/turris-translations/Makefile
Owners: none

knot-resolver: update to version 5.3.1
  net/knot-resolver/Makefile
Owners: @vcunat, @ja-pa

turris-nor-update: Make it work again
  hardware/turris-nor-update/Makefile
  hardware/turris-nor-update/files/nor-update
Owners: @miska

turris-nor-update: add missing quote
  hardware/turris-nor-update/Makefile
  hardware/turris-nor-update/files/nor-update
Owners: @miska

updater-drivers: fix path for PCI bus
  updater/updater-drivers/Makefile
  updater/updater-drivers/files/updater.lua
Owners: @Cynerd

foris-plugins-distutils: fix patch
  cznic/foris/foris-plugins-distutils/patches/fix-setup.patch
Owners: none

githooks: fix push reject when develop is directly based on master
  .githooks/pre-push
Owners: none

sentinel-proxy: Add Sentinel Root CA X1 cert
  collect/sentinel/sentinel-proxy/Makefile
  collect/sentinel/sentinel-proxy/files/ca.pem
Owners: @Cynerd, @VojtechMyslivec, @mprudek

reforis-shield: remove package in favor of reForis
  web/reforis/reforis-shield/Makefile
  web/reforis/reforis-shield/files/01_reforis.conf
  web/reforis/reforis-shield/files/reforis-lighttpd-dynamic.sh
  web/reforis/reforis-shield/files/reforis-lighttpd.conf
  web/reforis/reforis-shield/files/reforis.jpg
  web/reforis/reforis-shield/files/reforis.uci
  web/reforis/reforis-shield/files/updater-external-redirect.csv
  web/reforis/reforis-shield/files/updater-internal-redirect.csv
Owners: @aleksan4g, @MarekSasek

python3: add target path to PYTHONPATH
  lang/python3/files/python3-package.mk
Owners: @BKPepe, @ja-pa

python3-babel: try to run hostbuild every time
  lang/python3-babel/Makefile
Owners: @BKPepe, @ja-pa

updater-drivers: fix invalid variable of device for PCI
  updater/updater-drivers/Makefile
  updater/updater-drivers/files/updater.lua
Owners: @Cynerd

python3: extend PYTHONPATH to root-mvebu
  lang/python3/files/python3-package.mk
Owners: @BKPepe, @ja-pa

python3: add turris staging dir
  lang/python3/files/python3-package.mk
Owners: @BKPepe, @ja-pa

initial-config: fix package name in install section
  updater/initial-config/Makefile
Owners: @Cynerd

mariadb: update to version 10.4.18
  utils/mariadb/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-mox-firmware:devel firmware with fix for Hang After Reboot issue
  hardware/mox/mox-firmware/Makefile
  hardware/mox/mox-firmware/files/secure-firmware-devel.bin
Owners: @miska

python3: add turris & omnia staging dir to PYTHONPATH
  lang/python3/files/python3-package.mk
Owners: @BKPepe, @ja-pa

mox-uboot: update to version 2021-04-rc1
  hardware/mox/mox-uboot/Makefile
Owners: @pali, @elkablo

deckard: add new package
  net/deckard/Makefile
  net/deckard/files/dns_test.sh
Owners: @BKPepe

reforis: drop flask-session dependency
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek

reforis: update to version 1.0.6
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek
