Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

turris-btrfs: Update to version 3.0 from hbl branch
  utils/turris-btrfs/Makefile
  utils/turris-btrfs/files/10_kernel-install
  utils/turris-btrfs/files/btrfs_migrate.sh
  utils/turris-btrfs/files/kernel-install
  utils/turris-btrfs/files/kernel-rollback
  utils/turris-btrfs/files/kernel-updater-install
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-btrfs: Add binary of kernel image from 5.3
  utils/turris-btrfs/files/fdt
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-btrfs: Make sure restore works even with USB
  utils/turris-btrfs/files/btrfs_migrate.sh
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

fixup! turris-btrfs: Update to version 3.0 from hbl branch
  utils/turris-btrfs/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

turris-maintain: fix build of turris-maintain package
  utils/turris-maintain/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

githooks/pre-push: allow fast-forward of master to develop
  .githooks/pre-push
Owners: none

pakon: Update to latest version and split from Foris
  collect/pakon/Makefile
  collect/pakon/files/lighttpd-pakon.conf
  collect/pakon/files/pakon.png
  collect/pakon/files/webapps-pakon.json
  collect/pakon/patches/cleanup-faster.patch
Owners: @mmtj

ruby-breakpoint: add PKG_BUILD_DEPENDS for ruby
  lang/ruby-breakpoint/Makefile
Owners: @BKPepe, @ja-pa

compass: add ruby into PKG_BUILD_DEPENDS
  utils/compass/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

tvheadend: add patch to update hdhomerun library
  multimedia/tvheadend/Makefile
  multimedia/tvheadend/patches/0003-Makefile.hdhomerun-update-library-to-version-2018081.patch
Owners: @BKPepe, @ja-pa

easycwmp & libmicroxml: Add new packages
  libs/libmicroxml/Makefile
  utils/easycwmp/Config.in
  utils/easycwmp/Makefile
Owners: @BKPepe, @ja-pa, @miska, @Cynerd

mox-support: fix path for nor-update
  hardware/mox/mox-support/Makefile
  hardware/mox/mox-support/files/run_nor_update
Owners: @miska

tos3to4-notify: enable automatic migration
  cznic/tos3to4-notify/repo/Packages
  cznic/tos3to4-notify/repo/Packages.gz
  cznic/tos3to4-notify/repo/tos3to4-notify.ipk
  cznic/tos3to4-notify/tos3to4-notify/control
  cznic/tos3to4-notify/tos3to4-notify/data/etc/updater/conf.d/tos3to4_auto.lua
  cznic/tos3to4-notify/tos3to4-notify/data/usr/bin/tos3to4-automatic
  cznic/tos3to4-notify/tos3to4-notify/postinst
Owners: @Cynerd

foris-controller: add patch - detect reForis translations
  web/foris-controller/foris-controller/Makefile
  web/foris-controller/foris-controller/patches/0001-quickfix-detect-reForis-translations-instead-of-Fori.patch
Owners: @mmtj, @fhron

lighttpd: fix basic auth
  net/lighttpd/Makefile
  net/lighttpd/patches/0010-uncomment-auth-module-import.patch
Owners: @BKPepe

foris-controller: update to version 3.0.0
  web/foris-controller/foris-controller/Makefile
Owners: @mmtj, @fhron

tos3to4: new package tos3to4-earliest
  updater/tos3to4/Makefile
Owners: @Cynerd

foris-controller: remove backported patch
  web/foris-controller/foris-controller/patches/0001-quickfix-detect-reForis-translations-instead-of-Fori.patch
Owners: @mmtj, @fhron

pakon: Update to version 2.0 that is proper package
  collect/pakon/Makefile
  collect/pakon/files/pakon-cron
  collect/pakon/files/pakon-handler-init
  collect/pakon/files/pakon-monitor-init
Owners: @mmtj

Apply 1 suggestion(s) to 1 file(s)
  collect/pakon/Makefile
Owners: @mmtj

nextcloud: add missing php7-mod-filter dependency
  net/nextcloud/Makefile
Owners: @miska

nextcloud: remove php7-mod-hash dependency
  net/nextcloud/Makefile
Owners: @miska

net/knot-resolver: Exchange obsolete api with repo.turris.cz in tests
  net/knot-resolver/Makefile
Owners: @vcunat, @ja-pa

net/resolver-debug: Exchange obsolete api with repo.turris.cz in tests
  net/resolver-debug/Makefile
  net/resolver-debug/files/resolver-debug.sh
Owners: @ja-pa

utils/turris-utils: Exchange obsolete api with repo.turris.cz in tests
  utils/turris-utils/Makefile
  utils/turris-utils/files/check_connection
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

ffmpeg: update to version 4.2.5
  multimedia/ffmpeg/Makefile
Owners: @BKPepe, @ja-pa

cronie: explicitly specify vi path
  admin/cronie/Makefile
Owners: none

treewide: move some services to start before the start-indicator
  collect/haas-proxy/Makefile
  collect/haas-proxy/files/haas-proxy.init
  collect/sentinel/sentinel-fwlogs/Makefile
  collect/sentinel/sentinel-fwlogs/files/init
  collect/sentinel/sentinel-minipot/Makefile
  collect/sentinel/sentinel-minipot/files/init
  multimedia/tvheadend/Makefile
  multimedia/tvheadend/files/tvheadend.init
Owners: @shenek, @Cynerd, @VojtechMyslivec, @mprudek, @BKPepe, @ja-pa

knot-resolver: update to 5.4.2
  net/knot-resolver/Makefile
  net/knot-resolver/patches/020-shorter-timeout.patch
  net/knot-resolver/patches/030-fix-policy-hack.patch
Owners: @vcunat, @ja-pa

lighttpd: update to 1.4.61
  net/lighttpd/Makefile
  net/lighttpd/patches/010-meson-lua.patch
  net/lighttpd/patches/020-meson-zstd.patch
  net/lighttpd/patches/020-mod-alias.patch
Owners: @BKPepe

tos3to4: remove notification for localrepo
  updater/tos3to4/Makefile
  updater/tos3to4/files/localrepo
Owners: @Cynerd

treewide: move some services to start before the start-indicator
  collect/haas-proxy/Makefile
  collect/haas-proxy/files/haas-proxy.init
  collect/sentinel/sentinel-fwlogs/Makefile
  collect/sentinel/sentinel-fwlogs/files/init
  collect/sentinel/sentinel-minipot/Makefile
  collect/sentinel/sentinel-minipot/files/init
  multimedia/tvheadend/Makefile
  multimedia/tvheadend/files/tvheadend.init
Owners: @shenek, @Cynerd, @VojtechMyslivec, @mprudek, @BKPepe, @ja-pa

reforis: update to version 1.1.2
  web/reforis/reforis/Makefile
  web/reforis/reforis/patches/0001-Don-t-set-socket-when-starting-WSGIServer.patch
  web/reforis/reforis/patches/0001-Rename-Data-Collection-card.patch
Owners: @aleksan4g, @MarekSasek

turris-timezone: update to version 0.2.1
  utils/turris-timezone/Makefile
Owners: @miska, @ja-pa, @Cynerd, @BKPepe

foris-controller: update to version 4.0.0
  web/foris-controller/foris-controller/Makefile
Owners: @mmtj, @fhron

foris-controller-storage-module: backport fix to behave better with error
  web/foris-controller/foris-controller-storage-module/Makefile
  web/foris-controller/foris-controller-storage-module/patches/init-behave-correctly.patch
Owners: @mmtj, @fhron

rainbow: implement generic rainbow script
  hardware/omnia/omnia-rainbow/Makefile
  hardware/omnia/omnia-rainbow/files/rainbow.config
  hardware/omnia/omnia-rainbow/files/rainbow.cron
  hardware/omnia/omnia-rainbow/files/rainbow.init
  hardware/omnia/omnia-rainbow/files/rainbow_button_sync.sh
  hardware/rainbow/Makefile
  hardware/rainbow/files/README.md
  hardware/rainbow/files/animation.sh
  hardware/rainbow/files/animation.test.sh
  hardware/rainbow/files/animator.py
  hardware/rainbow/files/animator_backend.example.py
  hardware/rainbow/files/backend.example.sh
  hardware/rainbow/files/brightness.sh
  hardware/rainbow/files/button_sync.sh
  hardware/rainbow/files/color.sh
  hardware/rainbow/files/color.test.sh
  hardware/rainbow/files/compat.sh
  hardware/rainbow/files/led.sh
  hardware/rainbow/files/led_activity.sh
  hardware/rainbow/files/led_animate.sh
  hardware/rainbow/files/ledid.sh
  hardware/rainbow/files/ledid.test.sh
  hardware/rainbow/files/pci.sh
  hardware/rainbow/files/rainbow-animator.init
  hardware/rainbow/files/rainbow-button-sync.init
  hardware/rainbow/files/rainbow.init
  hardware/rainbow/files/rainbow.sh
  hardware/rainbow/files/reset.sh
  hardware/rainbow/files/state.sh
  hardware/rainbow/files/state.test.sh
  hardware/rainbow/files/uci.sh
  hardware/rainbow/files/utils.sh
  hardware/turris1x/turris1x-rainbow/Makefile
  hardware/turris1x/turris1x-rainbow/files/rainbow.config
  hardware/turris1x/turris1x-rainbow/files/rainbow.cron
  hardware/turris1x/turris1x-rainbow/files/rainbow.init
  hardware/turris1x/turris1x-rainbow/files/rainbow_button_sync.sh
Owners: @miska

omnia-rainbow-backend: add rainbow backend for Omnia
  hardware/omnia/omnia-rainbow-backend/Makefile
  hardware/omnia/omnia-rainbow-backend/files/animator_backend.py
  hardware/omnia/omnia-rainbow-backend/files/backend.sh
Owners: @miska

turris1x-rainbow-backend: add Turris 1.x specific rainbow backend
  hardware/turris1x/turris1x-rainbow-backend/Makefile
  hardware/turris1x/turris1x-rainbow-backend/files/animator_backend.py
  hardware/turris1x/turris1x-rainbow-backend/files/backend.sh
Owners: @miska

mox-rainbow-backend: add rainbow backend for Mox
  hardware/mox/mox-rainbow-backend/Makefile
  hardware/mox/mox-rainbow-backend/files/animator_backend.py
  hardware/mox/mox-rainbow-backend/files/backend.sh
Owners: @miska

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g
