Repository CZ-NIC/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cynerd, @VojtechMyslivec, @mprudek, @shenek, @mmtj, @miska, @pali, @elkablo, @BKPepe, @ja-pa, @vcunat, @fhron, @aleksan4g, @MarekSasek

turris-auth: update to version 0.3.1
  web/turris-auth/Makefile
Owners: none

turris-bootstrap-theme: update to version 0.3.1
  web/turris-bootstrap-theme/Makefile
Owners: none

foris-controller: update to version 4.1.1
  web/foris-controller/foris-controller/Makefile
Owners: @mmtj, @fhron

turris-nor-update: fix exit if not running on BTRFS
  hardware/turris-nor-update/Makefile
  hardware/turris-nor-update/files/nor-update
Owners: @miska

updater-ng: update to version 70.0.0
  updater/updater-ng/Makefile
  updater/updater-ng/patches/0001-Add-FilesSignature-support.patch
  updater/updater-ng/patches/0002-lib-subprocess-use-SIGCHLD-to-detect-child-terminati.patch
Owners: @Cynerd

updater-supervisor: update to version 1.5.0
  updater/updater-supervisor/Makefile
Owners: @Cynerd

python-crontab: add new package
  lang/python-crontab/Makefile
Owners: @BKPepe, @ja-pa

updater-supervisor: backport patch to fix block on package removal
  updater/updater-supervisor/patches/0001-files-immediate_reboot-fix-block-on-package-removal.patch
Owners: @Cynerd

turris-auth: add MarkupSafe as HOST_PYTHON3_PACKAGE_BUILD_DEPENDS
  web/turris-auth/Makefile
Owners: none

updater-supervisor: update to version 1.5.1
  updater/updater-supervisor/Makefile
  updater/updater-supervisor/patches/0001-files-immediate_reboot-fix-block-on-package-removal.patch
Owners: @Cynerd

fix: network devices migration
  updater/fix/Makefile
  updater/fix/files/network-devices
Owners: @Cynerd

fix: add fix for firewall zone limit
  updater/fix/Makefile
  updater/fix/files/firewall-zone-limit
Owners: @Cynerd

cython: update to version 0.29.28
  lang/cython/Makefile
Owners: @BKPepe, @ja-pa

nor-update: migrate U-Boot environment
  hardware/omnia/omnia-firmware/Makefile
  hardware/omnia/omnia-firmware/files/config.sh
  hardware/omnia/omnia-firmware/files/new-fwenv.config
  hardware/omnia/omnia-firmware/files/old-fwenv.config
  hardware/turris-nor-update/Makefile
  hardware/turris-nor-update/files/nor-update
Owners: @miska

omnia-uboot: backport fix to nvme detail
  hardware/omnia/omnia-uboot/Makefile
  hardware/omnia/omnia-uboot/patches/012-nvme-Do-not-allocate-8kB-buffer-on-stack.patch
Owners: @pali, @elkablo

reforis: remove separate l10n package for English
  web/reforis/reforis/files/reforis-translations.mk
Owners: @aleksan4g, @MarekSasek

foris-controller: update to version 4.2.0
  web/foris-controller/foris-controller/Makefile
Owners: @mmtj, @fhron

lighttpd: fix dependency for authn_file
  net/lighttpd/Makefile
Owners: @BKPepe

logc: Update to version 0.4.0
  libs/logc/Makefile
Owners: @BKPepe, @ja-pa

sentinel-minipot: Update to version 2.3.0
  collect/sentinel/sentinel-minipot/Makefile
Owners: @Cynerd, @VojtechMyslivec, @mprudek

logc: Fix build by ignoring broken check
  libs/logc/patches/0001-configure-Do-not-check-for-bootstrap-file.patch
Owners: @BKPepe, @ja-pa

logc: Install pkg-config macro
  libs/logc/Makefile
Owners: @BKPepe, @ja-pa

sentinel-minipot: Fix build by disabling broken check
  collect/sentinel/sentinel-minipot/patches/0001-configure-Do-not-check-for-bootstrap-file.patch
Owners: @Cynerd, @VojtechMyslivec, @mprudek

logc: Set internal inline functions as static as well
  libs/logc/patches/0002-Set-internal-inline-functions-as-static-as-well.patch
Owners: @BKPepe, @ja-pa

logc-libs: New package
  libs/logc-libs/Makefile
Owners: @BKPepe, @ja-pa

sentinel-minipot: Fix missing dependencies on logc-{czmq,libevent}
  collect/sentinel/sentinel-minipot/Makefile
Owners: @Cynerd, @VojtechMyslivec, @mprudek

switch-branch: fix version listing
  updater/switch-branch/Makefile
  updater/switch-branch/files/switch-branch
Owners: @Cynerd

reforis: update to version 1.2.1
  web/reforis/reforis/Makefile
Owners: @aleksan4g, @MarekSasek

sentinel-fwlogs: update to version 0.3.0
  collect/sentinel/sentinel-fwlogs/Makefile
Owners: @Cynerd, @VojtechMyslivec, @mprudek

updater-supervisor: version 1.5.2
  updater/updater-supervisor/Makefile
Owners: @Cynerd

dev-detect: add file to empty folder
  net/dev-detect/Makefile
Owners: @BKPepe

rescue-image: Fix Omnia's /etc/fw_env.config
  hardware/rescue-image/files/omnia.sh
Owners: @miska

l10n-supported: rename nb to nb_NO
  updater/l10n-supported/Makefile
  updater/l10n-supported/files/list
Owners: @Cynerd

l10n-supported: remove and add few languages
  updater/l10n-supported/files/list
Owners: @Cynerd

turris-translations: update to version 1.5.1
  web/turris-translations/Makefile
Owners: none

deckard: update to recent git head
  net/deckard/Makefile
Owners: @BKPepe

morce: Update to version 1.0.2
  net/morce/Makefile
Owners: @BKPepe

cznic-repo-keys: fix invalid name of key file
  updater/cznic-repo-keys/Makefile
Owners: @Cynerd

foris-controller: update to version 2.1.2
  web/foris-controller/foris-controller/Makefile
Owners: @mmtj, @fhron

omnia-uboot: fix backport for resetting board on DDR failure
  hardware/omnia/omnia-uboot/patches/100-ddr-marvell-a38x-fix-BYTE_HOMOGENEOUS_SPLIT_OUT-deci.patch
  hardware/omnia/omnia-uboot/patches/101-arm-mvebu-Use-printf-for-printing-fatal-errors.patch
  hardware/omnia/omnia-uboot/patches/101-arm-mvebu-spl-Add-option-to-reset-the-board-on-DDR-t.patch
  hardware/omnia/omnia-uboot/patches/102-arm-mvebu-spl-Add-option-to-reset-the-board-on-DDR-t.patch
  hardware/omnia/omnia-uboot/patches/103-arm-mvebu-turris_omnia-Reset-the-board-immediately-o.patch
Owners: @pali, @elkablo

.github/CODEOWNERS:

# Data collection
collect/sentinel/ @Cynerd @VojtechMyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmtj
collect/pakon-lists/ @mmtj

# Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec
hardware/mox/mox-uboot/ @pali @elkablo
hardware/omnia/omnia-uboot/ @pali @elkablo

# Lang - Python Packages
lang/ @BKPepe @ja-pa
lang/turrishw/ @mmtj

# Libs
libs/ @BKPepe @ja-pa

# Multimedia
multimedia/ @BKPepe @ja-pa

# Net
net/ @BKPepe
net/knot-resolver/ @vcunat @ja-pa
net/unbound/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @BKPepe
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd @BKPepe

# Web related packages
web/foris-controller/ @mmtj @fhron
web/foris/ @mmtj
web/reforis/ @aleksan4g @MarekSasek
web/turris-webapps/ @aleksan4g
